* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard-container {
    border: 4px solid lightblue;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameboard-container>div {
    border: 2px solid rgb(151, 151, 151);
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(144, 144, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameboard-container>div:hover {
    cursor: pointer;
}